<div class="repository_commit">
  <dl class="edges">
    <dt>
      Commit
    </dt>
    <dd>
      <%= link_to commit.short_gitid, [commit.repository.profile, commit.repository, commit] %>
    </dd>
    <dt>
      Tree
    </dt>
    <dd>
      <%= link_to commit.tree.short_gitid, tree_path(commit) %>
    </dd>
    <% commit.parents.each do |parent| %>
    <dt>
      Parent
    </dt>
    <dd>
      <%= link_to parent.short_gitid, [commit.repository.profile, commit.repository, parent] %>    
    </dd>
    <% end %>
  </dl>

  <div class="metadata">
    <p class="message">
      <%= commit.message %>
    </p>
    <p class="author">
      <%= commit.author_name %> &lt;<%= commit.author_email %>&gt;
    </p>
    <% if commit.author_name != commit.committer_name || commit.author_email != commit.committer_email %>
    <p class="committer">
      <%= commit.committer_name%> &lt;<%= commit.committer_email %>&gt;
    </p>
    <% end %>
    <p class="time">
      <%= distance_of_time_in_words_to_now commit.committed_at %> ago
    </p>
  </div>  
</div>
