<%= form_for @profile, url: (@original_profile || @profile),
        builder: FoundationFormBuilder::Icons do |f| %>

  <%= f.text_field :name, required: true, placeholder: 'unix_name',
          label: { icon: fa_icon('bullseye'), text: 'Short Name' } %>
  <%= f.text_field :display_name, required: true,
          placeholder: 'Your Full Name',
          label: { icon: fa_icon(profile_icon_name(@profile)),
                   text: 'Display Name' } %>
  <%= f.text_field :display_email,
          placeholder: 'your_gravatar@something.com (optional)',
          label: { icon: fa_icon('envelope-o'), text: 'Display E-mail' } %>

  <%= f.text_field :blog, placeholder: 'http://blogger.com/you (optional)',
          label: { icon: fa_icon('link'), text: 'Blog' } %>
  <%= f.text_field :company, placeholder: 'Awesome, Inc. (optional)',
          label: { icon: fa_icon('briefcase'), text: 'Company' } %>
  <%= f.text_field :city, placeholder: 'Anytown, USA (optional)',
          label: { icon: fa_icon('map-marker'), text: 'City' } %>
  <%= f.text_field :language, placeholder: 'C++ (optional)',
          label: { icon: fa_icon('code'),
                   text: 'Favorite Programming Language' } %>
  <%= f.text_area :about, placeholder: 'A little bit about yourself', rows: 4,
          label: { icon: fa_icon('align-justify'),
                   text: profile_about_label(@profile) } %>

  <div class="row">
    <div class="small-11 small-offset-1 columns">
      <%= f.button type: 'submit', class: 'large success button expand' do %>
      <% if @profile.new_record? %>
        <%= fa_icon 'sign-in' %> Create
      <% else %>
        <%= fa_icon 'sign-in' %> Update
      <% end %>
      <% if @profile.team? %>
        Team
      <% else %>
        Profile
      <% end %>
      <% end %>
    </div>
  </div>
<% end %>
