<%= form_for(@profile, :url => (@original_profile || @profile)) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => 'unix_name' %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name, :placeholder => 'Your Full Name' %>
  </div>
  <div class="field">
    <%= f.label :display_email, 'Display email' %>
    <br />
    <%= f.email_field :display_email,
                      :placeholder => 'your_gravatar@something.com' %>
  </div>
  <div class="field">
    <%= f.label :blog %><br />
    <%= f.text_field :blog, :placeholder => 'http://blogger.com/you' %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company, :placeholder => 'Awesome, Inc.' %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :placeholder => 'Anytown, USA' %>
  </div>
   <div class="field">
    <%= f.label :language, 'Favorite Programming Language' %><br />
    <%= f.text_field :language, :placeholder => 'C++' %>
  </div>
  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_area :about, rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
