<%= render @profile %>

<div class="home_panel feed">
  <h3>Activity</h3>
  <%= render 'feed_items/list', :feed_items => @profile.recent_feed_items %>
</div>

<div class="home_panel repositories">
  <h3>Repositories</h3>
  <%= render 'repositories/list', :repositories => @profile.repositories %>
</div>

<div class="home_panel profiles">
  <% if @profile.team? %>
    <h3>Members</h3>
    <% if @profile.can_edit? current_user %>
    <p class="actions">
      <%= link_to 'Edit', acl_entries_path(@profile), :class => 'button' %>
    </p>
    <% end %>

    <%= render 'profiles/list', :profiles => @profile.members.map { |member| member.profile } %>
  <% else %>
    <h3>Teams</h3>

    <%= render 'profiles/list', :profiles => @profile.user.team_profiles %>
  <% end %>
</div>

<div class="home_panel subscribers">
  <h3>
    Followers
  </h3>
  <% if current_user && current_user.profile %>
  <p class="actions">
    <% if @profile.subscribed?(current_user.profile) %>
      <%= link_to 'Unfollow', subscribers_profile_path(@profile),
                              :method => :delete, :class => 'button' %>
    <% else %>
      <%= link_to 'Follow', subscribers_profile_path(@profile),
                            :method => :post, :class => 'button' %>
    <% end %>
  </p>
  <% end %>

  <%= render 'profiles/list', :profiles => @profile.subscribers %>
</div>
