<h2><%= link_to @profile.name, @profile %></h2>

<div class="home_panel repositories">
  <h3>Repositories</h3>
  <%= render 'repositories/list', :repositories => @profile.repositories %>
</div>

<div class="home_panel profiles">  
  <% if @profile.team_profile? %>
    <h3>
      <% if @profile.can_edit? current_user %>
        <%= link_to 'Members', acl_entries_path(@profile) %>
      <% else %>
        Members
      <% end %>
    </h3>
    <%= render 'profiles/list', :profiles => @profile.members.map { |member| member.profile } %>
  <% else %>
    <h3>Teams</h3>
    <%= render 'profiles/list', :profiles => @profile.user.team_profiles %>
  <% end %>
</div>
