<%= render @profile %>

<div class="home_panel repositories">
  <h3>Repositories</h3>
  <%= render 'repositories/list', :repositories => @profile.repositories %>
</div>

<div class="home_panel profiles">  
  <% if @profile.team_profile? %>
    <h3>Members</h3>
    <% if @profile.can_edit? current_user %>
    <p class="actions">
      <%= link_to 'Edit', acl_entries_path(@profile), :class => 'button' %>
    </p>
    <% end %>
    
    <%= render 'profiles/list', :profiles => @profile.members.map { |member| member.profile } %>
  <% else %>
    <h3>Teams</h3>
    
    <%= render 'profiles/list', :profiles => @profile.user.team_profiles %>
  <% end %>
</div>
