<%= form_for(@config_var) do |f| %>
  <% if @config_var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config_var.errors.count, "error") %> prohibited this config_var from being saved:</h2>

      <ul>
      <% @config_var.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
