<div class="bootstrap_steps">

<h3>Global setup</h3>

<p>
  <a href="http://git-scm.com/download">Download Git</a> and install it.
</p>

<pre>
git config --global user.name "<%= current_user.profile.display_name %>"
git config --global user.email <%= current_user.email %>
</pre>

<h3>Next steps</h3>

<pre>
mkdir <%= @repository.name %>
cd <%= @repository.name %>
git init
touch README
git add README
git commit -m 'first commit'
git remote add origin <%= @repository.ssh_uri %>
git push -u origin master
</pre>

<h3>Existing Git Repository?</h3>

<pre>
cd existing_git_repo
git remote add origin <%= @repository.ssh_uri %>
git push -u origin master
</pre>

<h3>When you're done</h3>

<%= link_to 'Continue', profile_repository_path(@profile, @repository) %>

</div>
