<div class="repository">
  <p class="name">
    <%= link_to repository.profile.name, repository.profile %>
    /
    <%= link_to repository.name, [repository.profile, repository] %>
  </p>
  <dl class="metadata">
    <dt>
      Web
    </dt>
    <dd>
      <%= link_to profile_repository_url(repository.profile, repository),
                  profile_repository_url(repository.profile, repository) %>
    </dd>
    <dt>
      git+ssh
    </dt>
    <dd>
      <%= repository.ssh_uri %>
    </dd>
  </dl>
  
  <% if repository.default_branch %>
  <ul class="actions">
    <li>
      <%= branch_switcher repository, @branch %>
    </li>
    <li>
      <%= tag_switcher repository, @tag %>
    </li>    
    <li>
      <%= link_to 'Source',
              contextual_tree_path(repository, @branch, @tag, @commit) %>
    </li>
    <li>      
      <%= link_to 'Commits',
              contextual_commits_path(repository, @branch, @tag, @commit) %>
    </li>
    <% if repository.can_edit? current_user %>
    <li>
      <%= link_to 'Sharing',
          profile_repository_acl_entries_path(repository.profile, repository) %>
    </li>
    <li>
      <%= link_to 'Settings', edit_profile_repository_path(repository.profile,
                                                           repository) %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
