<div class="repository">
  <p class="name">
    <%= link_to repository.profile.name, repository.profile %>
    /
    <%= link_to repository.name, [repository.profile, repository] %>
    [<%= repository.public ? 'public' : 'private' %>]
  </p>
  <% if repository.description %>
  <p class="description">
    <%= repository.description %>
  </p>
  <% else %>
  <p class="description missing">    
    This repository has no description.
    <% if repository.can_edit? current_user %>
    <%= link_to 'Add a description',
                edit_profile_repository_path(repository.profile, repository) %>
    <% end %>
  </p>
  <% end %>
  <dl class="metadata">
    <% if repository.url %>
    <dt>
      Home page
    </dt>
    <dd>
      <%= link_to repository.url, repository.url, :rel => 'nofollow' %>
    </dd>
    <% elsif repository.can_edit? current_user %>
    <dt>
      Home page
    </dt>
    <dd>
      This repository has no home page.
      <%= link_to 'Add a homepage',
              edit_profile_repository_path(repository.profile, repository) %>
    </dd>
    <% end %>
    <dt>
      Gitty page
    </dt>
    <dd>
      <%= link_to profile_repository_url(repository.profile, repository),
                  profile_repository_url(repository.profile, repository) %>
    </dd>
    <dt>
      git+ssh
    </dt>
    <dd>
      <%= repository.ssh_uri %>
    </dd>
  </dl>
  
  <ul class="actions">
    <% if repository.default_branch %>
    <li>
      <%= branch_switcher repository, @branch %>
    </li>
    <li>
      <%= tag_switcher repository, @tag %>
    </li>    
    <li>
      <%= link_to 'Source',
              contextual_tree_path(repository, @branch, @tag, @commit) %>
    </li>
    <li>      
      <%= link_to 'Commits',
              contextual_commits_path(repository, @branch, @tag, @commit) %>
    </li>
    <% else %>
    <li>
      This repository is empty.
    </li>    
    <% if repository.can_commit? current_user %>
    <li>
      <%= link_to 'Guide to committing',
              profile_repository_path(repository.profile, repository) %>
    </li>
    <% end %>
    <% end %>
    <li>
      <%= link_to 'Feed', feed_profile_repository_path(repository.profile,
                                                       repository) %>
    </li>
    <% if repository.can_edit? current_user %>
    <li>
      <%= link_to 'Sharing',
          profile_repository_acl_entries_path(repository.profile, repository) %>
    </li>
    <li>
      <%= link_to 'Settings', edit_profile_repository_path(repository.profile,
                                                           repository) %>
    </li>
    <% end %>
    <li>
      <%= link_to pluralize(repository.subscribers.count, 'follower'),
              subscribers_profile_repository_path(repository.profile,
                                                  repository) %>      
    </li>
    <% if current_user %>
    <li>
      <% if repository.subscribed? current_user.profile %>
        <%= link_to 'Unfollow',
                subscribers_profile_repository_path(repository.profile,
                repository), :method => :delete %>
      <% else %>
        <%= link_to 'Follow',
                subscribers_profile_repository_path(repository.profile,
                repository), :method => :post %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
