<%= render @repository %>

<% if @repository.default_branch %>
<%= render @repository.default_branch %>

<% if readme = @repository.default_branch.commit.tree.entries.
                           where('name LIKE "readme%"').first %>
<h3>README</h3>
<%= render readme.child, :blob_path => readme.name,
        :blob_reference => @repository.default_branch %>
<% else %>
<p>No README file found. You should add one.</p>
<% end %>

<% else %>
<% if @repository.can_commit? current_user %>
<%= render 'repositories/bootstrap_steps' %>
<% else %>
<%= render 'repositories/empty' %>
<% end %>
<% end %>
