<p id="notice"><%= notice %></p>

<h2><%= @repository.profile.name%> / <%= @repository.name %></h2>

<dl>
  <dt>
    Web URL:
  </dt>
  <dd>
    <%= link_to repository_url(@repository) %>
  </dd>
  <dt>
    SSH:
  </dt>
  <dd>
    <%= @repository.ssh_uri %>
  </dd>
</dl>
