<div class="repository_issue">
  <div class="edges">
    <% if issue.open %>
      <div class="issue_status open_issue">Open</div>
    <% else %>
      <div class="issue_status closed_issue">Closed</div>
    <% end %>
    <% if issue.sensitive? %>
      <div class="issue_status sensitive_issue"
          title="visible only to committers">Private</div>
      <br />
    <% end %>
    <% if issue.can_edit? current_user %>
    <p>
      <%= link_to 'Edit', edit_profile_repository_issue_path(
              issue.repository.profile, issue.repository, issue),
              :method => :get %>
      <%= link_to 'Delete', profile_repository_issue_path(
              issue.repository.profile, issue.repository, issue),
              :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    </p>
    <p>
      <% if issue.open %>
      <%= button_to 'Close Issue', profile_repository_issue_path(
              issue.repository.profile, issue.repository, issue,
              :issue => { :open => false }), :method => :put,
              :class => 'close_issue_button' %>
      <% else %>
      <%= button_to 'Reopen Issue', profile_repository_issue_path(
              issue.repository.profile, issue.repository, issue, 
              :issue => { :open => true }),
              :method => :put, :class => 'reopen_issue_button' %>
      <% end %>
    </p>
    <% end %>
  </div>
  <div class="metadata">
    <p class="author">
      <%= issue_author_image issue %>
      <%= issue.author.name %> &lt;<%= issue.author.display_email %>&gt;
    </p>
    <p class="description">
      <%= issue.description %>
    </p>  
    <p class="time">
      <%= distance_of_time_in_words_to_now issue.created_at %> ago
    </p>
  </div>
</div>
