<%= render @repository %>

<% if @issues.select { |i| i.can_read? current_user }.empty? %>
<%= render 'issues/no_issues', :repository => @repository %>
<% else %>
  <%= render 'issues/new_issue_button', :repository => @repository %>

  <% unless (issues = readable_open_issues(@issues, current_user)).empty? %>
  <h2>Open Issues</h2>
  <%= render issues %>
  <% end %>
  
  <% unless (issues = readable_closed_issues(@issues, current_user)).empty? %>
  <h2>Closed Issues</h2>
  <%= render issues %>
  <% end %>
<% end %>
