<% if !@profile.new_record? %>
  <div class="home_panel feed">
    <h2>News Feed</h2>
    <%= render 'feed_items/list',
               :feed_items => @profile.recent_subscribed_feed_items %>
  </div>

  <div class="home_panel repositories">
    <h2>Repositories</h2>
    <p class="actions">
      <%= link_to 'New Repository', new_repository_path, :class => 'button' %>      
    </p>
    <%= render 'repositories/list', :repositories => @profile.repositories %>

    <h2>Team Repositories</h2>
    <%= render 'repositories/list', :repositories => @profile.user.team_repositories %>
  </div>

  <div class="home_panel keys">
    <h2>SSH Keys</h2>
    <p class="actions">
      <%= link_to 'New Key', new_ssh_key_path, :class => 'button' %>       
    </p>
    <% if @profile.user.ssh_keys.empty? %>
    <p>You have no SSH keys!</p>
    <p>
      <%= link_to 'Add a key', new_ssh_key_path %> to access your repositories
      via git.
    </p>
    <% else %>
    <%= render 'ssh_keys/list', :ssh_keys => @profile.user.ssh_keys %>
    <% end %>
  </div>

  <div class="home_panel teams">
    <h2>Teams</h2>
    <p class="actions">
      <%= link_to 'New Team', new_profile_path, :class => 'button' %>       
    </p>
    <%= render 'profiles/list', :profiles => @profile.user.team_profiles %>
  </div>
  
<% else %>
  <h2>Create a profile</h2>

  <%= render 'profiles/form' %>  
<% end %>
