<h2>Log in</h2>

<%= form_for User.new, :url => session_path do |f| %>
  <div class="field">
    <%= f.label :email, 'Email Address' %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Log in' %>
  </div>
<% end %>
