<h2>Log in</h2>

<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>

<% if @redirect_url %>
<p>
  We need you to log in before we can show you the page that you are trying to
  view.
</p>
<% end %>

<%= form_tag :url => session_path do %>
  <div class="field">
    <%= label_tag :email, 'Email Address' %><br />
    <%= email_field_tag :email, @email %>
  </div>
  
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  
  <div class="actions">
    <%= submit_tag 'Log in' %>
    
    <% if @redirect_url %>
    <%= hidden_field_tag :redirect_url, @redirect_url %>
    <% end %>
  </div>
<% end %>
