<% if @redirect_url %>
<p data-alert class="alert-box">
  We need you to log in before we can show you the page that you are trying to
  view.
  <a href="#" title="Close" class="close">&times;</a>
</p>
<% end %>

<h2>Log in</h2>
<%= form_for @session, url: session_path,
             builder: FoundationFormBuilder::Icons do |f| %>

  <%= f.email_field :email, autofocus: true, required: true,
          placeholder: 'your@email.com',
          label: { icon: fa_icon('envelope'), text: 'Email Address' }  %>

  <%= f.password_field :password, required: true, placeholder: 'your password',
          label: { icon: fa_icon('key'), text: 'Password' }  %>

  <div class="row">
    <div class="small-5 small-offset-1 columns">
      <%= button_tag name: 'login', value: 'requested', type: 'submit',
                     class: 'large success button expand' do %>
        <%= fa_icon 'sign-in' %> Sign in
      <% end %>
    </div>
    <div class="small-5 columns">
      <%= button_tag name: 'reset_password', value: 'requested',
                     type: 'submit', formaction: reset_password_session_path,
                     class: 'large button expand' do %>
        <%= fa_icon '' %> Reset password
      <% end %>
    </div>
  </div>

  <% if @redirect_url %>
  <%= hidden_field_tag :redirect_url, @redirect_url %>
  <% end %>
<% end %>
