<h2>Password Change</h2>

<% if flash[:alert] %>
<p class="alert"><%= flash[:alert] %></p>
<% elsif flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>

<% if @credential.updated_at %>
<p class="password_age_notice">
  Your have been using the same password for
  <span class="password_age">
    <%= time_ago_in_words @credential.updated_at, true %>.
  </span>
</p>
<% end %>

<%= form_for @credential, :url => change_password_session_path,
                          :as => :credential, :method => :post do |f| %>
  <section class="fields">
  <% unless @credential.new_record? %>
  <div class="field">
    <%= label_tag :old_password, 'Current Password' %><br />
    <%= password_field_tag :old_password %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'New Password' %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Re-enter New Password' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  </section>

  <div class="actions">
    <%= f.submit 'Change Password' %>
  </div>
<% end %>
