<h2>Password Change</h2>

<% if @credential.updated_at %>
<p class="password_age_notice">
  Your have been using the same password for
  <span class="password_age">
    <%= time_ago_in_words @credential.updated_at, include_seconds: true %>.
  </span>
</p>
<% end %>

<%= form_for @credential, url: change_password_session_path, as: :credential,
        method: :post, builder: FoundationFormBuilder do |f| %>

  <% unless @credential.new_record? %>
  <%= f.password_field :old_password, required: true,
          placeholder: 'your password', label: 'Current Password' %>
  <% end %>

  <%= f.password_field :password, required: true,
          placeholder: 'a clever new password', label: 'New Password' %>

  <%= f.password_field :password_confirmation, required: true,
          placeholder: 'same clever new password', label: 'Confirm Password' %>

  <div class="row">
    <div class="small-11 small-offset-1 columns">
      <%= f.button name: 'login', value: 'requested',
                   class: 'large success button expand' do %>
        <%= fa_icon 'check' %> Change Password
      <% end %>
    </div>
  </div>
<% end %>
