<h2>Password Change</h2>

<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
<p class="alert"><%= flash[:alert] %></p>
<% end %>

<% if @credential.updated_at %>
<p class="password_age_notice">
  Your have been using the same password for
  <span class="password_age">
    <%= time_ago_in_words @credential.updated_at, include_seconds: true %>.
  </span>
</p>
<% end %>

<%= form_for @credential, url: change_password_session_path,
                          as: :credential, method: :post do |f| %>
  <section class="fields">
  <% unless @credential.new_record? %>
  <div class="field">
    <%= f.label :old_password, 'Current Password' %><br />
    <span class="value">
      <%= f.password_field :old_password %>
    </span>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'New Password' %><br />
    <span class="value">
      <%= f.password_field :password %>
    </span>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Re-enter New Password' %><br />
    <span class="value">
      <%= f.password_field :password_confirmation %>
    </span>
  </div>
  </section>

  <div class="actions">
    <%= f.button 'Change Password', type: 'submit' %>
  </div>
<% end %>
