<div class="welcome">
  <div class="statistics">
    <p>This gitty server has</p>
    <ul>
      <li><%= pluralize @stats[:users], 'user' %></li>
      <li><%= pluralize @stats[:repositories], 'repository' %></li>
      <li><%= pluralize @stats[:commits], 'commit' %></li>
      <li><%= pluralize @stats[:files], 'file' %></li>
    </ul>
  </div>

  <p>
    Gitty is a free, open-source Web application for managing Git repositories. 
  </p>
  
  <p>
    <%= link_to 'Sign up', new_user_path %> to collaborate with the other users!
    A gitty account lets you push and pull from Git repositories, send and receive
    comments on Git commits, and create your own repositories.
  </p>
  
  <p>
    If you already have an account, you should
    <%= link_to 'Log in', new_session_path %>.
  </p>  
</div>
