<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
  <div class="field">
    <%= f.label :email, 'Email Address' %>
    <%= f.email_field :email, :placeholder => 'you@something.com' %>
  </div>
  <% end %>
  
  <% unless @user.new_record? %>
  <div class="field">
    <%= label_tag :old_password, 'Old Password' %>
    <%= password_field_tag :old_password %>
  </div>  
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit @user.new_record? ? 'Create Account' : 'Update Account' %>
  </div>
<% end %>
