<h2>Sign up</h2>

<%= form_for @user, builder: FoundationFormBuilder::Icons do |f| %>
  <%= f.email_field :email, autofocus: true, required: true,
          placeholder: 'your@email.com',
          label: { icon: fa_icon('envelope'), text: 'Email Address' }  %>

  <%= f.password_field :password, required: true,
          placeholder: 'a clever password',
          label: { icon: fa_icon('key'), text: 'Password' }  %>

  <%= f.password_field :password_confirmation, required: true,
          placeholder: 'same clever password',
          label: { icon: fa_icon('key'), text: 'Confirm Password' }  %>

  <div class="row">
    <div class="small-11 small-offset-1 columns">
      <%= f.button name: 'login', value: 'requested',
                   class: 'large success button expand' do %>
        <%= fa_icon 'sign-in' %> Create Account
      <% end %>
    </div>
  </div>
<% end %>
