<%= form_for(@ssh_key) do |f| %>
  <% if @ssh_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ssh_key.errors.count, "error") %> prohibited this ssh_key from being saved:</h2>

      <ul>
      <% @ssh_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_id, 'Profile' %><br />
    <%= f.select :profile_id, profile_select_options %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key_line %><br />
    <%= f.text_area :key_line %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
