<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @config_flag.name %>
</p>

<p>
  <b>Value:</b>
  <%= @config_flag.value %>
</p>


<%= link_to 'Edit', edit_config_flag_path(@config_flag) %> |
<%= link_to 'Back', config_flags_path %>
