<header>
  <h1><%= link_to 'Gitty', root_url %></h1>
  
  <% if current_user %>
  <ol>
    <li>
      <%= header_user_image current_user %>
      <% if current_user.profile %>
      <%= link_to current_user.profile.name, current_user.profile %>
      <% else %>
      <%= current_user.email %>
      <% end %>
    </li>
    
    <li>
      <%= link_to 'Account', edit_user_path(current_user) %>
    </li>
    <li>
      <%= link_to 'Dashboard', session_path %>
    </li>
    <li>
      <%= link_to 'Log out', session_path, :method => :destroy %>
    </li>
  </ol>
  <% else %>
  <ol>
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_path %>
    </li>
    <li>
      <%= link_to 'Log in', new_session_path %>
    </li>
  </ol>
  <% end %>
</header>
