<div id="header">
  <h1><%= link_to 'Gitty', root_url %></h1>
  
  <% if current_user %>
  <ol class="user_bar">
    <% if current_user.profile %>
    <li>
      <%= current_user.profile.name %>
    </li>
    <% else %>
    <li>
      <%= current_user.email %>
    </li>
    <% end %>
    
    <li>
      <%= link_to 'Account', edit_user_path(current_user) %>
    </li>
    <li>
      <%= link_to 'Dashboard', session_path %>
    </li>
    <li>
      <%= link_to 'Log out', session_path, :method => :destroy %>
    </li>
  </ol>
  <% else %>
  <ul class="welcome_bar">
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_path %>
    </li>
    <li>
      <%= link_to 'Log in', new_session_path %>
    </li>    
  </ul>
  <% end %>
</div>
