<!DOCTYPE html>
<html>
<head>
  <title>gitty</title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div id="page_wrapper">
    <%= render 'layouts/header' -%>

    <div id="content_wrapper">
      <div id="contents">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' -%>
  </div>
</body>
</html>
