<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Gitty</title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>

<body>
<header id="header">
<%= render 'layouts/top_nav' %>
</header>

<article id="page-body">
  <% if flash[:notice] %>
  <p data-alert id="flash-notice-box">
    <%= flash[:notice] %>
    <a href="#" title="Close" class="close">&times;</a>
  </p>
  <% end %>
  <% if flash[:alert] %>
  <p data-alert id="flash-alert-box">
    <%= flash[:alert] %>
    <a href="#" title="Close" class="close">&times;</a>
  </p>
  <% end %>

  <%= yield %>
</article>

<footer id="footer">
</footer>

  <%= javascript_include_tag 'application' %>
</body>
</html>
